[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
requests = "*"
pyjwt = "*"
bcrypt = "*"
flask-cors = "*"
psycopg2-binary = "*"
boto3 = "*"
flask-jwt-extended = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
cloudinary = "*"
python-dotenv = "*"
psycopg2 = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
